server:
  port: 7070


spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/EnriqueMV18/EVA-1RA-U.git # ruta del repositorio git
          searchPaths: config-data
          #username:
          #password:
          default-label: main




  security:
    user:
      name: root
      password: 123456
